html {
  --section-width: 80rem;
}

/* outside layout */

body {
  display: flex;
  flex-direction: column;
}

body > header {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gutter);
  justify-content: space-between;
  padding-block: var(--gutter);
  width: min(100%, var(--section-width));
  margin-inline: auto;
  padding-inline: var(--gutter);
  position: relative;
  align-items: center;
  flex-wrap: wrap;
}

body > header > *:not(nav, nav > *) {
  font-size: var(--font-size-lg);
}

body > main {
  padding-block-start: var(--main-space, var(--space-3xl));
  padding-block-end: var(--main-space, var(--space-3xl));
}

body > header > nav ul {
  display: flex;
  flex-wrap: wrap;
}

body > header > nav a {
  padding: var(--space-xs) var(--space-sm);
  display: inline-flex;

}

main > * + * {
  margin-top: var(--main-items-space, var(--space-3xl));
}

nav[aria-label="breadcrumb"] {
  --outline-size: max(2px, 0.08em);
  width: min(100%, var(--section-width));
  margin-inline: auto;
  padding-inline: var(--gutter);
  overflow-x: auto;
}

nav[aria-label="breadcrumb"] ul {
  display: flex;
  padding: var(--outline-size);
}

nav[aria-label="breadcrumb"] li {
  min-width: max-content;
  padding: var(--outline-size);

}

nav[aria-label="breadcrumb"] li:first-child {
  margin-left: calc(-1 * var(--space-xs));
}

nav[aria-label="breadcrumb"] a {
  padding: var(--space-xs);
  display: inline-block;

}

nav[aria-label="breadcrumb"] a[aria-current="page"] {
  text-decoration: none;
  cursor: default;
  color: currentColor;
}

nav[aria-label="breadcrumb"] li:not(:last-child)::after {
  content: "\0002F";
  color: var(--separator-color);
  z-index: -1;
  position: relative;
}

body > footer {
  padding: var(--space-md) var(--gutter);
  color: var(--text-color-muted);
  text-align: center;
  margin-block-start: auto;
  margin-block-end: 0;
}

/* inner layout */

:where(section) {
  max-width: var(--section-width);
  margin-inline: auto;
  padding-inline: var(--gutter);
  position: relative;
}

:where(section > * + *) {
  margin-top: var(--section-items-space, var(--space-2xl));
}

:where(section > article) {
  --section-width: min(100%, var(--line-length-md));
  --grid-columns: auto min(100%, var(--line-length-md)) auto;
  display: grid;
  grid-template-columns: var(--grid-columns);
  max-width: var(--section-width);
  margin-inline: auto;
  background-color: var(--surface-color-glare);
  padding: var(--space-2xl) var(--space-xl);
  box-shadow: var(--box-shadow-default);
}

:where(section > article:only-child) {
  --section-width: 100%;
  box-shadow: unset;
  background-color: unset;
  padding: unset;
}

:where(article > *) {
  grid-column: 2;
}

:where(section article:only-child header + figure) {
  grid-column: 1/-1;
}

:where(article > * + *) {
  margin-block-start: var(--flow-space, 1.5em);
}

article :where(h1, h2, h3, h4) {
  --flow-space: 1em;
}

:where(article hgroup > * + *) {
  margin-top: var(--space-xs);
}

article hgroup > *:not(h1, h2, h3, h4) {
  /* --font-size: var(--font-size-sm); */
  font-weight: var(--font-weight-normal);
  color: var(--text-color-muted);
}

article hgroup small {
  display: inline-block;
}

* + img,
* + figure:has(img, video),
img + *,
figure:has(img, video) + * {
  margin-top: var(--flow-space, var(--space-xl));
}

figure > figcaption {
  --flow-space: var(--space-xs);
  margin-top: var(--flow-space);
  color: var(--text-color-muted);
  font-size: var(--font-size-xs);
}

article :where(h1, h2, h3) {
  max-inline-size: var(--line-length-sm);
}

article :where(h4, p, li, dt, dd) {
  max-inline-size: var(--line-length-md);
}

article :where(ul, ol):has(li input[type="checkbox"]) {
  list-style-type: none;
  padding-inline-start: calc(var(--item-inline-start) / 3);
}


