:where(html) {
  --color-indigo-0: oklch(99% 0.03 270);
  --color-indigo-1: oklch(95% 0.06 270);
  --color-indigo-2: oklch(89% 0.12 270);
  --color-red-0: oklch(99% 0.03 25);
  --color-red-1: oklch(95% 0.06 25);
  --color-red-2: oklch(88% 0.12 25);
  --color-yellow-0: oklch(99% 0.03 100);
  --color-yellow-1: oklch(95% 0.06 100);
  --color-yellow-2: oklch(88% 0.12 100);
}
