
:where(button, input[type="submit"], a[role="button"]:not(nav a[role="button"])) {
  appearance: none;
  display: inline-flex;
  padding: var(--space-3xs) var(--space-md);
  border-radius: var(--border-radius-rounded);
  border: var(--border-size-1) solid;
  text-align: center;
  justify-content: center;
  text-decoration: none;
}



/* :where(input[type="submit"]) {
  justify-self: start;
} */

button:not([class]),
input[type="submit"]:not([class]),
a[role="button"]:not(nav a[role="button"]):not([class]) {
  
  background-color: var(--primary-color, buttonface);
  border-color: var(--primary-color, buttonborder);
  color: var(--text-color-invert);
}

:where(button:not([class]):not([disabled]),
input[type="submit"]:not([class]):not([disabled]),
a[role="button"]:not(nav a[role="button"]):not([class]):not([disabled])) {
  
  &:hover,
  &:focus-visible {
    --outline-color: var(--primary-color-glare);
    background-color: var(--primary-color-glare);
    border-color: var(--primary-color-glare);
  }

  &:active {
    transform: scale(.98);
  }
}


div[role="tablist"] {
  border-bottom: var(--border-size-1) solid var(--separator-color);
}

div[role="tablist"] > button {
  border-radius: 0;
  border: 0;
  background-color: transparent;
  color: var(--primary-color);

  &:hover, &:focus-visible {
    color: var(--primary-color-glare);
  }
}

[role="tablist"] > button[aria-selected="true"] {
  font-weight: var(--font-weight-bold);
  color: var(--text-color);

  cursor: default;
}

/* [role="tabpanel"] {
  background-color: var(--surface-color-glare);
} */