form > * + * {
  margin-top: var(--flow-space, 1em);
}

form > p {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
  gap: 1ex 1em;
}

form > p > label:first-child {
  flex-basis: max-content;
	min-width: 12ch;
}



:where(select) {
  appearance: none;
  border-style: solid;
  padding: var(--space-3xs) var(--space-sm);
  border-radius: var(--border-radius-rounded);
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  color: var(--text-color-invert);

  background-image: linear-gradient(45deg, transparent 49%, var(--text-color-invert) 51%), linear-gradient(135deg, var(--text-color-invert) 51%, transparent 49%);
  background-position: calc(100% - 0.9375rem), calc(100% - 0.625rem);
  background-size: 0.3125rem 0.3125rem, 0.3125rem 0.3125rem;
  background-repeat: no-repeat;
}





:where(select) {
  &:hover,
  &:focus-visible {
    --outline-color: var(--primary-color-hover);
    background-color: var(--primary-color-hover);
    border-color: var(--primary-color-hover);
  }
}

:where(input[type="radio"], input[type="checkbox"]) {
  height: 1em;
  width: 1em;
  position: relative;
  top: .1em;
  
}

input[type="radio"], input[type="checkbox"] {
 &:focus-visible {
    --outline-color: var(--primary-color-hover);
    
  }
  
}



:where(input[type="text"], input[type="search"], input[type="email"]), textarea {
  flex: 1 1 var(--line-length-sm);
  background: var(--surface-color-glare);
  border-style: solid;
  border-width: var(--border-size-1);
  border-color: var(--separator-color);
  padding: var(--space-3xs);
	color: var(--text-color-muted);
	&:focus, &:focus-visible {
		--outline-color: var(--primary-color-hover);
		color: var(--text-color);
	}
}

textarea {
  flex: 1 1 100%;
  width: 100%;
}