body {
  color: var(--text-color);
  background-color: var(--surface-color);
}


:target {
  scroll-margin-top: 1ex;
}

::selection {
  background: var(--primary-color);
  color: var(--text-color-invert);
}

:where(hr) {
  width: 100%;
  border: unset;
  border-top: var(--border-size-1) solid var(--separator-color);
}
