body {
  color: var(--text-color);
  background-color: var(--surface-color);
}


:target {
  scroll-margin-block-start: var(--scroll-margin-size, 1ex);
}

::selection {
  background: var(--primary-color);
  color: var(--text-color-invert);
}

:where(hr) {
  width: 100%;
  border: unset;
  border-block-start-width: var(--hr-size, var(--border-size-1));
  border-block-start-style: var(--hr-style, solid);
  border-block-start-color:  var(--hr-color, var(--separator-color));
}
