

:where(html) {
  accent-color: var(--primary-color);
  block-size: 100%;
  
}

body {
  color: var(--text-color);
  background-color: var(--surface-color);

}

:is(a, button, input, textarea, summary, select, progress) {
  --outline-size: max(2px, 0.08em);
  --outline-style: solid;
  --outline-color: currentColor;
}

:is(a, button, input, textarea, summary, select, progress):focus-visible {
  outline: var(--outline-size) var(--outline-style) var(--outline-color);
  outline-offset: var(--outline-offset, var(--outline-size));
}



main:focus {
  outline: none;
}


:target {
  scroll-margin-block-start: var(--scroll-margin-size, 1ex);
}

::selection {
  background: var(--primary-color);
  color: var(--text-color-invert);
}

:where(hr) {
  width: 100%;
  border: unset;
  border-block-start-width: var(--hr-size, var(--border-size-1));
  border-block-start-style: var(--hr-style, solid);
  border-block-start-color:  var(--hr-color, var(--separator-color));
}

:where(button, select, input, textarea) {
  border-style: solid;
}

:where(button, input[type="submit"], input[type="radio"], input[type="checkbox"], select) {
  cursor: pointer;
}


:where([disabled]) {
  opacity: 0.7;
  cursor: not-allowed;
}
