body, h1, h2, h3, h4, p {
	font-size: var(--font-size);
}

body {
	--font-size: var(--font-size-sm);
}

h1 {
  --font-size: var(--font-size-3xl);
}


h2 {
  --font-size: var(--font-size-2xl);
}

h3 {
  --font-size: var(--font-size-xl);

}

h4 {
  --font-size: var(--font-size-lg);

}

p {
	--font-size: var(--font-size-sm);
}

h1, h2, h3 {
	line-height: var(--line-height-heading);
	text-wrap: balance;
}

:where(h1, h2, h3, h4) small {
	font-weight: var(--font-weight-normal);
  font-size: var(--font-size-smaller);
}


blockquote:not([class]) {
	padding-inline-start: calc(var(--item-inline-start) - var(--border-size-4));
  border-left: var(--border-size-4) solid var(--primary-color);
}

:where(ul, ol):not([role="list"]) {
	padding-inline-start: var(--item-inline-start);
}

:where(ul, ol):not([role="list"]) li::marker {
	color: var(--primary-color, currentColor);
}

blockquote:not([class]) cite {
  font-size: var(--font-size-smaller);
  font-weight: var(--font-weight-normal);
  color: var(--text-color-muted);
}

blockquote > * + * {
  margin-top: var(--flow-space, 1.5em);
}

cite::before {
  content: "\2014"
}


a {
  color: var(--primary-color);
  text-underline-offset: 0.125em;
  word-break: break-word;
}

a:hover,
a:focus-visible {
  color: var(--primary-color-hover);
  text-decoration: none;
}


mark {
  color: var(--mark-text-color);
  background-color: var(--mark-surface-color);
  padding: 0.125em 0.25em;
  vertical-align: baseline;
}

del, strike {
  color: var(--alarm-text-color);
}

u {
  text-underline-offset: 0.125em;
  text-decoration-style: double;
  text-decoration-thickness: var(--border-size-1);
  text-decoration-color: var(--text-color-muted);
}

abbr {
  text-underline-offset: 0.125em;
  text-decoration-color: var(--text-color-muted);
  cursor: help;
}

kbd {
  font-family: var(--font-family-mono);
  background-color: var(--surface-color-muted);
  color: var(--text-color-invert);
  padding: 0.125em 0.25em;
  vertical-align: baseline;
  border-radius: .125em;
  font-size: var(--font-size-smaller);
  font-weight: var(--font-weight-bold);
}

ins {
  color: var(--success-text-color);
  text-underline-offset: 0.125em;
}


sub, sup {
  position: relative;
  font-size: .75em;
  line-height: 0;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

pre {
  padding: var(--space-xs) var(--space-sm);
  background: var(--surface-color-glare);
  border-radius: var(--border-radius-rounded);
  font-size: var(--font-size-smaller);
  
  max-width: 100%;
  overflow-x: auto;
}

pre, code {
  font-family: var(--font-family-mono);
}



