---
import Layout from "@layouts/Layout.astro"

---

<Layout title="CSSol">
  <section>
    <article>
      <header>
        <hgroup>
          <h1><span>C</span><span>S</span>Sol</h1>
          <p>CSS without too much FUSS</p>
        </hgroup>
      </header>
    </article>
  </section>


</Layout>
