---
import { getLanguageFromURL } from '@/languages';
import { SIDEBAR } from '@/consts';

type Props = {
	currentPage: string;
};

const { currentPage } = Astro.props;
const currentPageMatch = currentPage.endsWith('/')
	? currentPage.slice(1, -1)
	: currentPage.slice(1);
const langCode = getLanguageFromURL(currentPage);
const sidebar = SIDEBAR[langCode];
---

<nav aria-labelledby="main-aside">
	<ul role="list">
		{
			Object.entries(sidebar).map(([header, children]) => (
				<li>
						<h2>{header}</h2>
						<ul role='list'>
							{children.map((child) => {
								const url = Astro.site?.pathname + child.link;
								return (
									<li>
										<a href={url} aria-current={currentPageMatch === child.link ? 'page' : false}>
											{child.text}
										</a>
									</li>
								);
							})}
						</ul>
				</li>
			))
		}
	</ul>
</nav>

<script is:inline>
	// window.addEventListener('DOMContentLoaded', () => {
	// 	var target = document.querySelector('[aria-current="page"]');
	// 	if (target && target.offsetTop > window.innerHeight - 100) {
	// 		document.querySelector('.nav-groups').scrollTop = target.offsetTop;
	// 	}
	// });
</script>


<style>
	h2 {
		font-size: var(--font-size-sm);
		font-weight: var(--font-weight-normal);
		color: var(--text-color-muted);

	
	}

	nav > ul > * + * {
		margin-top: 1.5em;
	}

	a {
		padding: .25ex var(--space-3xs);
		display: block;
	}

	a[aria-current="page"] {
		font-weight: var(--font-weight-bold);
		color: var(--text-color);
		cursor: default;
		text-decoration: none;

	}

</style>