---
import type { MarkdownHeading } from 'astro';
// import MoreMenu from '@/DocComponents/MoreMenu.astro';
// import TableOfContents from '@/DocComponents/TableOfContents';

type Props = {
	title: string;
	headings: MarkdownHeading[];
};

const { title, headings } = Astro.props;
---


	<article>
		<h1 id="overview">{title}</h1>
		<slot />
	</article>


	<style>
		article {
			align-self: start;
			padding: unset;
			background: unset;
			box-shadow: unset;
			width: 100%;
		--section-items-space: 0;
	}

	h1 {
		color: var(--primary-color);
	}
	</style>