---
import { getLanguageFromURL } from "@/languages"
import { MAINNAV } from "@/consts"

type Props = {
  currentPage: string
}

const { currentPage } = Astro.props
const currentPageMatch = currentPage.endsWith("/") ? currentPage.slice(1, -1) : currentPage.slice(1)
const langCode = getLanguageFromURL(currentPage)
const mainnav = MAINNAV[langCode]
---

<nav aria-labelledby="primary-navigation">
  {
    Object.entries(mainnav).map(([header, children]) => (
      <ul role="list">
        {children.map((child) => {
          const url = Astro.site?.pathname + child.link
          return (
            <li>
              <a href={url} aria-current={currentPageMatch === child.link ? "page" : false}>
                {child.text}
              </a>
            </li>
          )
        })}
      </ul>
    ))
  }
</nav>


