---
import { getLanguageFromURL } from '@src/languages';
import { MAINNAV } from '@src/consts';

type Props = {
	currentPage: string;
};

const { currentPage } = Astro.props;
const currentPageMatch = currentPage.endsWith('/')
	? currentPage.slice(1, -1)
	: currentPage.slice(1);
const langCode = getLanguageFromURL(currentPage);
const mainnav = MAINNAV[langCode];
---

<nav aria-labelledby="grid-left">
	<ul class="nav-groups">
		{
			Object.entries(mainnav).map(([header, children]) => (
				<li>
					<div class="nav-group">
						<h2 class="nav-group-title">{header}</h2>
						<ul>
							{children.map((child) => {
								const url = Astro.site?.pathname + child.link;
								return (
									<li class="nav-link">
										<a href={url} aria-current={currentPageMatch === child.link ? 'page' : false}>
											{child.text}
										</a>
									</li>
								);
							})}
						</ul>
					</div>
				</li>
			))
		}
	</ul>
</nav>

<script is:inline>
	window.addEventListener('DOMContentLoaded', () => {
		var target = document.querySelector('[aria-current="page"]');
		if (target && target.offsetTop > window.innerHeight - 100) {
			document.querySelector('.nav-groups').scrollTop = target.offsetTop;
		}
	});
</script>
