---
import BaseNav from './BaseNav.astro';
import { getLanguageFromURL, KNOWN_LANGUAGE_CODES } from '../../languages';
import { SITE } from '../../consts';

// import SkipToContent from './SkipToContent.astro';
// import SidebarToggle from './SidebarToggle';
// import LanguageSelect from './LanguageSelect';


type Props = {
	currentPage?: string;
};

const { currentPage } = Astro.props;
const lang = getLanguageFromURL(currentPage);
---

<header>
	<p><strong>SOL</strong> CSS</p>

<BaseNav currentPage={currentPage} />
</header>