:where(*) {
  --hue-red: 25;
  --hue-pink: 350;
  --hue-purple: 310;
  --hue-violet: 290;
  --hue-indigo: 270;
  --hue-blue: 240;
  --hue-cyan: 210;
  --hue-teal: 185;
  --hue-green: 145;
  --hue-lime: 125;
  --hue-yellow: 100;
  --hue-orange: 75;
}


/* :where(*) {
  --color-0: oklch(99% .03 var(--color-hue, 0));
  --color-1: oklch(95% .06 var(--color-hue, 0));
  --color-2: oklch(88% .12 var(--color-hue, 0));
  --color-3: oklch(80% .14 var(--color-hue, 0));
  --color-4: oklch(74% .16 var(--color-hue, 0));
  --color-5: oklch(68% .19 var(--color-hue, 0));
  --color-6: oklch(63% .20 var(--color-hue, 0));
  --color-7: oklch(58% .21 var(--color-hue, 0));
  --color-8: oklch(53% .20 var(--color-hue, 0));
  --color-9: oklch(49% .19 var(--color-hue, 0));
  --color-10: oklch(42% .17 var(--color-hue, 0));
  --color-11: oklch(35% .15 var(--color-hue, 0));
  --color-12: oklch(27% .12 var(--color-hue, 0));
  --color-13: oklch(20% .09 var(--color-hue, 0));
  --color-14: oklch(14% .07 var(--color-hue, 0));
  --color-15: oklch(11% .05 var(--color-hue, 0));
} */

:where(*) {
  --gray-chroma: 0;
  --gray-hue: 0;
  --color-gray-0: oklch(99% 0 0);
  --color-gray-1: oklch(95% 0 0);
  --color-gray-2: oklch(88% 0 0);
  --color-gray-3: oklch(80% 0 0);
  --color-gray-4: oklch(74% 0 0);
  --color-gray-5: oklch(68% 0 0);
  --color-gray-6: oklch(63% 0 0);
  --color-gray-7: oklch(58% 0 0);
  --color-gray-8: oklch(53% 0 0);
  --color-gray-9: oklch(49% 0 0);
  --color-gray-10: oklch(43% 0 0);
  --color-gray-11: oklch(37% 0 0);
  --color-gray-12: oklch(31% 0 0);
  --color-gray-13: oklch(25% 0 0);
  --color-gray-14: oklch(18% 0 0);
  --color-gray-15: oklch(10% 0 0);
}

:where(*) {
  --color-indigo-0: oklch(99% .03 270);
  --color-indigo-1: oklch(95% .06 270);
  --color-indigo-2: oklch(88% .12 270);
  --color-indigo-3: oklch(80% .14 270);
  --color-indigo-4: oklch(74% .16 270);
  --color-indigo-5: oklch(68% .19 270);
  --color-indigo-6: oklch(63% .20 270);
  --color-indigo-7: oklch(58% .21 270);
  --color-indigo-8: oklch(53% .20 270);
  --color-indigo-9: oklch(49% .19 270);
  --color-indigo-10: oklch(42% .17 270);
  --color-indigo-11: oklch(35% .15 270);
  --color-indigo-12: oklch(27% .12 270);
  --color-indigo-13: oklch(20% .09 270);
  --color-indigo-14: oklch(14% .07 270);
  --color-indigo-15: oklch(11% .05 270);
}


:where(*) {
  --color-red-0: oklch(99% .03 25);
  --color-red-1: oklch(95% .06 25);
  --color-red-2: oklch(88% .12 25);
  --color-red-3: oklch(80% .14 25);
  --color-red-4: oklch(74% .16 25);
  --color-red-5: oklch(68% .19 25);
  --color-red-6: oklch(63% .20 25);
  --color-red-7: oklch(58% .21 25);
  --color-red-8: oklch(53% .20 25);
  --color-red-9: oklch(49% .19 25);
  --color-red-10: oklch(42% .17 25);
  --color-red-11: oklch(35% .15 25);
  --color-red-12: oklch(27% .12 25);
  --color-red-13: oklch(20% .09 25);
  --color-red-14: oklch(14% .07 25);
  --color-red-15: oklch(11% .05 25);
}


:where(*) {
  --color-yellow-0: oklch(99% .03 100);
  --color-yellow-1: oklch(95% .06 100);
  --color-yellow-2: oklch(88% .12 100);
  --color-yellow-3: oklch(80% .14 100);
  --color-yellow-4: oklch(74% .16 100);
  --color-yellow-5: oklch(68% .19 100);
  --color-yellow-6: oklch(63% .20 100);
  --color-yellow-7: oklch(58% .21 100);
  --color-yellow-8: oklch(53% .20 100);
  --color-yellow-9: oklch(49% .19 100);
  --color-yellow-10: oklch(42% .17 100);
  --color-yellow-11: oklch(35% .15 100);
  --color-yellow-12: oklch(27% .12 100);
  --color-yellow-13: oklch(20% .09 100);
  --color-yellow-14: oklch(14% .07 100);
  --color-yellow-15: oklch(11% .05 100);
}

:where(*) {
  --color-green-0: oklch(99% .03 145);
  --color-green-1: oklch(95% .06 145);
  --color-green-2: oklch(88% .12 145);
  --color-green-3: oklch(80% .14 145);
  --color-green-4: oklch(74% .16 145);
  --color-green-5: oklch(68% .19 145);
  --color-green-6: oklch(63% .20 145);
  --color-green-7: oklch(58% .21 145);
  --color-green-8: oklch(53% .20 145);
  --color-green-9: oklch(49% .19 145);
  --color-green-10: oklch(42% .17 145);
  --color-green-11: oklch(35% .15 145);
  --color-green-12: oklch(27% .12 145);
  --color-green-13: oklch(20% .09 145);
  --color-green-14: oklch(14% .07 145);
  --color-green-15: oklch(11% .05 145);
}


