:root {
  --warning-text-color: var(--color-yellow-9);
  --alarm-text-color: var(--color-red-9);
  --success-text-color: var(--color-green-9);

  --warning-surface-color: var(--color-yellow-3);
  --alarm-surface-color: var(--color-red-3);
  --success-surface-color: var(--color-green-3);

  --primary-color: var(--color-indigo-10);
  --primary-color-hover: var(--color-indigo-8);

  --text-color: var(--color-gray-10);
  --text-color-muted: var(--color-gray-7);
  --surface-color-muted: var(--color-gray-7);
  --surface-color: var(--color-gray-1);
  --surface-color-glare: var(--color-gray-0);

  --separator-color: var(--color-gray-4);

  --text-color-invert: var(--color-gray-1);
  --surface-color-invert: var(--color-gray-9);

  --mark-text-color: var(--text-color);
  --mark-surface-color: var(--warning-surface-color);

  --box-shadow-default: 0 0 2em 0 var(--color-gray-3);
}

:root {
  @media (prefers-color-scheme: dark) {
    --warning-surface-color: var(--color-yellow-3);
    --alarm-surface-color: var(--color-red-3);
    --success-surface-color: var(--color-green-3);

    --warning-text-color: var(--color-yellow-3);
    --alarm-text-color: var(--color-red-3);
    --success-text-color: var(--color-green-3);

    --primary-color: var(--color-indigo-3);
    --primary-color-hover: var(--color-indigo-2);

    --text-color: var(--color-gray-1);
    --text-color-muted: var(--color-gray-4);
    --surface-color-muted: var(--color-gray-4);
    --surface-color: var(--color-gray-10);
    --surface-color-glare: var(--color-gray-9);

    --separator-color: var(--color-gray-7);

    --text-color-invert: var(--color-gray-9);
    --surface-color-invert: var(--color-gray-1);

    --mark-text-color: var(--text-color-invert);
    --mark-surface-color: var(--warning-surface-color);

    --box-shadow-default: 0 0 2em 0 var(--color-gray-10);
  }
}
