:where(html) {

  --space-size: var(--space-size-value, clamp(1rem, calc(0.9rem + 0.3vw), 1.25rem));

  --space-scale: var(--space-scale-value, 1.25);



  --space-3xs: calc(var(--space-2xs) / var(--space-scale));
  --space-2xs: calc(var(--space-xs) / var(--space-scale));
  --space-xs: calc(var(--space-size) / var(--space-scale));

  --space-sm: var(--space-size);
  --space-md: calc(var(--space-sm) * var(--space-scale));
  --space-lg: calc(var(--space-md) * var(--space-scale));
  --space-xl: calc(var(--space-lg) * var(--space-scale));
  --space-2xl: calc(var(--space-xl) * var(--space-scale));
  --space-3xl: calc(var(--space-2xl) * var(--space-scale));
  --space-4xl: calc(var(--space-3xl) * var(--space-scale));

  --gutter: var(--gutter-size, var(--space-md));
}
