:where(html) {

	--font-family-sans: system-ui, ui-sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
	--font-family-serif: ui-serif, Georgia, serif;
	--font-family-mono: ui-monospace, SF Mono, Menlo, Monaco, monospace;


  --font-scale: var(--font-ratio, 1.25);

	--base-font-size: clamp(1.00rem, calc(0.90rem + 0.30vw), 1.25rem);

	
	
	--font-size-xs: calc(var(--base-font-size) / var(--font-scale));

  --font-size-sm: var(--base-font-size);
  --font-size-md: calc(var(--font-size-sm) * var(--font-scale));
  --font-size-lg: calc(var(--font-size-md) * var(--font-scale));
  --font-size-xl: calc(var(--font-size-lg) * var(--font-scale));
	--font-size-2xl: calc(var(--font-size-xl) * var(--font-scale));
	--font-size-3xl: calc(var(--font-size-2xl) * var(--font-scale));
	--font-size-4xl: calc(var(--font-size-3xl) * var(--font-scale));

	--font-size-smaller: 90%;

	--line-length-sm: 45ch;
	--line-length-md: 65ch;

	--line-height-body: 1.5;
	--line-height-heading: calc(1em + 0.5rem);

	--font-weight-normal: 400;
	--font-weight-bold: 700;

	--item-inline-start: var(--space-xl);

}