:root {

	--font-family-sans: system-ui, ui-sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
	--font-family-serif: ui-serif, Georgia, serif;
	--font-family-mono: ui-monospace, SF Mono, Menlo, Monaco, monospace;


  --type-ratio: 1.25;

	--base-font-size: clamp(1.00rem, calc(0.91rem + 0.42vw), 1.25rem);
	
	--font-size-xs: calc(var(--base-font-size) / var(--type-ratio));

  --font-size-sm: var(--base-font-size);
  --font-size-md: calc(var(--font-size-sm) * var(--type-ratio));
  --font-size-lg: calc(var(--font-size-md) * var(--type-ratio));
  --font-size-xl: calc(var(--font-size-lg) * var(--type-ratio));
	--font-size-2xl: calc(var(--font-size-xl) * var(--type-ratio));
	--font-size-3xl: calc(var(--font-size-2xl) * var(--type-ratio));
	--font-size-4xl: calc(var(--font-size-3xl) * var(--type-ratio));

	--font-size-smaller: 90%;

	--line-length-sm: 45ch;
	--line-length-md: 65ch;

	--line-height-body: 1.5;
	--line-height-heading: calc(1em + 0.5rem);

	--font-weight-normal: 400;
	--font-weight-bold: 700;

	--item-inline-start: var(--space-xl);

}