<article>
	<header>
		<hgroup>
			<h1>Heading Level 1: <small>Some Subtitle Goes Here</small></h1>
			<p>
				<timedate>April 27, 2023</timedate>
			</p>
		</hgroup>
	</header>

	<figure>
		<img
			src="https://images.unsplash.com/photo-1618556450994-a6a128ef0d9d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1664&q=80"
			alt=""
			width="1600"
			height="600"
		/>
	</figure>
	<p>
		Lorem ipsum, amet consectetur adipisicing elit. Corporis praesentium
		quia facere. Sint quos illum omnis possimus. Earum soluta assumenda, ab modi laboriosam quibusdam
		laboriosam quibusdam, voluptatum beatae nulla animi nemo ea!
	</p>
	<a href="/single">Read More &rarr;</a>
	
</article>