<article>
	<header>
		<hgroup>
			<h1>Heading Level 1: <small>Some Subtitle Goes Here</small></h1>
			<p>
				<timedate>April 27, 2023</timedate>
			</p>
		</hgroup>
	</header>

	<figure>
		<img
			src="https://images.unsplash.com/photo-1618556450994-a6a128ef0d9d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1664&q=80"
			alt=""
			width="1600"
			height="600"
		/>
	</figure>

	<h2>Heading Level 2</h2>
	<h3>Heading Level 3</h3>
	<h4>Heading Level 4</h4>
	<small>Small text</small>
	<ul>
		<li>Item One</li>
		<li>Item Two</li>
		<li>Item Three</li>
	</ul>

	<p>
		Lorem ipsum, amet <a href="#0">consectetur adipisicing</a> elit. Corporis praesentium
		quia facere. Sint <mark>quos illum</mark> omnis possimus. Earum <strike
			>soluta assumenda</strike
		>, ab modi <del>laboriosam quibusdam</del>
		<u>laboriosam quibusdam</u>, voluptatum beatae nulla animi nemo ea!
	</p>
	<p>
		Quam <small>cum maiores</small> a11y impedit expedita tempore <abbr
			title="Abbreviation"
			data-tooltip="Abbreviation">Abbr.</abbr
		> officia illum suscipit quasi vitae <kbd>Kbd</kbd> eveniet corrupti sequi,
		rem cupiditate rerum ab, sed illo quod odit <ins>Inserted</ins> error deleniti.
		Necessitatibus a obcaecati quisquam cum suscipit?
	</p>

	<img
		src="https://images.unsplash.com/photo-1618556450994-a6a128ef0d9d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1664&q=80"
		alt=""
		width="1600"
	/>

	<p>
		Illo quis error laborum<sup>redrum</sup> tempora, rem sequi accusantium expedita
		itaque blanditiis voluptas autem placeat, optio sed dolore reiciendis cum asperiores
		animi iure. Minus facilis possimus aspernatur mollitia ipsam libero recusandae.
	</p>
	<p>
		Quidem reiciendis expedita quaerat perspiciatis quae ex delectus facere
		exercitationem doloremque consequatur? Laudantium, est. Accusantium odio
		possimus necessitatibus qui tempore hic officia eos quaerat esse
		asperiores, aut quisquam repudiandae iste.
	</p>
	<p>
		Necessitatibus veritatis quasi temporibus voluptates, asperiores
		voluptatum. Cupiditate consequatur perspiciatis accusantium cum ipsum
		animi delectus repellendus dolor, vitae rem placeat voluptatem tempora,
		quibusdam reiciendis excepturi ducimus? Aliquid nisi placeat eum!
	</p>
</article>