<grid>
  <a href="#0">Link</a>
  <strong>Bold</strong>
  <em>Italic</em>
  <strike>Strike</strike>
  <u>Underline</u>
  <ins>Inserted</ins>
  <small>Small</small>
  <sup>Superscript</sup>
  <sub>Subscript</sub>
  <abbr title="Abbreviation">Abbr.</abbr>
  <kbd>Kbd</kbd>
  <mark>Highlighted</mark>
</grid>
