<form>
  <fieldset>
    <label for="terms">
      <input type="checkbox" role="switch" id="terms" name="terms" />
      I agree to the <a href="#" onclick="event.preventDefault()">Privacy Policy</a>
    </label>
  </fieldset>
</form>
