---
import "@styles/app.css"

const { pathname } = Astro.url;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />

    <meta name="theme-color" content="Canvas" />
    <meta name="color-scheme" content="dark light" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />

    <title>Astro</title>
  </head>
  <body>
    <header>
      <p>CSSol</p>
      <nav>
        <ul role="list">
          <li><a href="/">Home</a></li>
          <li><a href="/single">Single</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </nav>
    </header>
    <main id="main-content">

      {pathname === '/single' && (

        <section>
          <nav aria-label="breadcrumb">
            <ul role="list">
              <li><a href="/">Home</a></li>
              <li><a href="/blog">Blog</a></li>
              <li><a aria-current="page" href="/single">The Post Title Goes Here</a></li>
            </ul>
          </nav>
        </section>

      )
    }

      <slot />
    </main>
    <footer>
			<small>{new Date().getFullYear()} &copy; CSSol</small>
		</footer>
  </body>
</html>
