---
import "@styles/app.css"

type Props = {
  title: string
}

const { pathname } = Astro.url
const { title } = Astro.props as Props
---

<html lang="en">
  <head>
    <meta charset="utf-8" />

    <meta name="theme-color" content="Canvas" />
    <meta name="color-scheme" content="dark light" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />

    <title>{title}</title>
  </head>
  <body>
    <header>
      <p><strong>SOL</strong> CSS</p>
      <nav>
        <ul role="list">
          <li><a href="/">Home</a></li>
          <li><a href="/blog">Blog Example</a></li>
          <li><a role="button" href="/contact">Contact</a></li>
        </ul>
      </nav>
    </header>
    <main id="main-content">
      <!-- Breadcrumb -->

      <slot />
    </main>
    <footer>
      <small>{new Date().getFullYear()} &copy; Solfed</small>
    </footer>
  </body>
</html>

<style is:global>
  :where(html) {
    --astro-code-color-background: var(--surface-color-glare);
    --astro-code-token-string-expression: var(--primary-color);
    --astro-code-color-text: var(--text-color);
  }

  grid {
  display: grid;
  gap: var(--space-md);
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 15ch), 1fr));
  align-items: start;
  justify-items: start;
}

</style>

