---
import "@styles/app.css"
---

<html lang="en">
  <head>
    <meta charset="utf-8" />

    <meta name="theme-color" content="Canvas" />
    <meta name="color-scheme" content="dark light" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />

    <title>Astro</title>
  </head>
  <body>
    <header>
      <p>CSSol</p>
      <nav>
        <ul role="list">
          <li><a href="/">Home</a></li>
          <li><a href="/single">Single</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </nav>
    </header>
    <main id="main-content">
      <slot />
    </main>
    <footer>
			<small>&copy; Copyright Notice 2023 for Blah</small>
		</footer>
  </body>
</html>
