---
import BaseHead from "@/components/Base/BaseHead.astro"
import BaseSEO from "@/components/Base/BaseSEO.astro"
import BaseHeader from "@/components/Base/BaseHeader.astro"

import { SITE } from "../consts"

type Props = {
  title: string
}
const currentPage = Astro.url.pathname
// const { pathname } = Astro.url
const { title, ...data } = Astro.props as Props
const canonicalURL = new URL(Astro.url.pathname, Astro.site)
// const { ...data } = Astro.props
// const canonicalURL = new URL(Astro.url.pathname, Astro.site)
// const currentPage = Astro.url.pathname
---

<html dir="ltr" lang="en-us">
  <head>
    <BaseHead />
    <BaseSEO {title} canonicalUrl={canonicalURL} />
  </head>
  <body>
    <BaseHeader currentPage={currentPage} />
    <div class="peacock">I am peacock</div>
    <main id="main-content">
      <slot />
    </main>
    <footer>
      <small>{new Date().getFullYear()} &copy; Solfed</small>
    </footer>
    <style is:global>
      :where(html) {
        --astro-code-color-background: var(--surface-color-glare);
        --astro-code-token-string-expression: var(--primary-color);
        --astro-code-color-text: var(--text-color);
      }

      grid {
        display: grid;
        gap: var(--space-md);
        grid-template-columns: repeat(auto-fit, minmax(min(100%, 15ch), 1fr));
        align-items: start;
        justify-items: start;
      }
    </style>
  </body>
</html>

<style>
  :root {
    --color-primitive-mauve-3: color(srgb 0.8823529411764706 0.11372549019607843 0.2823529411764706)
  }

  .peacock {
    height: 600px;
    width: 600px;
    background-color: var(--color-primitive-mauve-3);
  }
</style>
